img.article-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

div.full-article {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    max-width: 1250px;
}

/*Artikelbilden*/
aside {
    width: 50%;
}

/*Artikeltexten*/
article {
    width: 50%;
    margin-left: 2%;
}

blockquote {
    margin: 2%;
}

.full-article article h3 {
    margin-bottom: 2%;
}

p::first-line {
    font-weight: bold;
    color: aqua;
}