#contact-section {
    background-color: #0c192c;
    width: 100%;
    max-width: 1000px;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 10px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #FFFFFF;
}

#fname, #lname, #subject, #cc{
    height: 30px;
    margin: 3% 3% 0% 3%;
    border: 0px;
    border-radius: 5px;
}

#body {
    height: 200px;
    margin: 3% 3% 0% 3%;
    border: 0px;
    border-radius: 5px;
}

#radio-buttons {
    margin: 3% 3% 0% 3%;
}

#submit-btn {
    margin: 3% 0% 3% 3%;
    width: 30%;
    height: 30px;
    border: 0px;
    border-radius: 5px;
}

#collaboration-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 3%;
}

#collaboration-section {
    width: 100%;
    max-width: 1000px;
    margin-top: 5%;
    border-radius: 10px;
}

#encourage-message {
    max-width: 1000px;
    margin-top: 5%;
}

    
#handshake {
    width: 50%;
}

textarea, input::placeholder {
    color: gray;
    font-style: italic;
}

