header {
    position: sticky;
    top: 0;
    background-color: #0c192c;
    z-index: 500;
}

#header-nav{
    display: flex;
    justify-content: center;
}

/*T, R, B, L*/
#header-nav a {
    margin: 1% 1% 0% 1%;
    padding: 1% 5% 1% 5%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    Color: #FFFFFF;
}

#header-nav a.active {
    background-color: #142847;
    color: #FFFFFF;
}

